{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <title>Maintenance Management</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  {% include 'apgmp/forder.html' %}

  <style>
        #OrdersTable tbody tr:hover {
            background-color: #E7E7F1;
        }
        .cntrlswrapper {
          margin-left:10px;
          margin-right:10px;
          display: flex;
          justify-content: space-between;
          align-items: right;
      }
      
      .custom-button {
        margin-top: 10px;
      }

      .form-group {
        margin-left: 10px;
      }








    </style>
</head>
 




<body style="background-color: #C2DEDC;">
  <div class="mainwrapper">
    <div class="grid-container">
      <div class="column">
        {% include 'apgmp/navbar.html' %}
      </div>
      <div class="pagewrapper">
        <div class="column">
          




          <div class="cntrlswrapper">
            <button type="button" class="btn btn-primary custom-button" onclick="window.location.href = '{% url 'upload' %}'">Soumettre un ordre</button>
            




            <button class="btn btn-secondary custom-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#forder" aria-controls="forder">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
              </svg>
              </svg>
            </button>
          </div>
          
        <div class="card border-dark mt-2 ms-2 me-2 mb-4">
          <div class="card-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="RED" class="bi bi-exclamation-triangle-fill" viewBox="0 0 20 20">
              
            </svg>
            Liste des ordres soumis :
          </div>
          
          <table id="OrdersTable" style="width: 99%; margin-left: 1%; margin-bottom: 1%;">
            <thead>
            </thead>
            <tbody></tbody>
          </table>
          



      
          <div>
            <ul class="pagination pagination-sm justify-content-center" id="pagination-controls">
            </ul>
          </div>
          
     

        </div>

  

      </div>
    </div>


 
    

</body>




<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>






<script>


  function downloadPdf(orderId) {
    var request = new XMLHttpRequest();
    request.open('GET', `/order_print/${orderId}/`, true);
    request.responseType = 'blob';

    request.onload = function(e) {
        if (this.status === 200) {
            var blob = this.response;
            var contentTypeHeader = request.getResponseHeader("Content-Type");

            var downloadLink = document.createElement('a');
            downloadLink.href = window.URL.createObjectURL(new Blob([blob], { type: contentTypeHeader }));
            downloadLink.download = 'order.pdf';
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        } else {
            console.error('Failed to download PDF');
        }
    };

    request.send();
}


  
  let workorders = []; 
  let currentPage = 1;
  let totalPages;
  let filters = {}; 
  

  let currentSortColumn = 'week';
  let ascendingOrder = true;




  function updateTable(sortingParameter) {
    
    const headers = [
        { text: 'Réf', parameter: 'orderref' },
        { text: 'Semaine', parameter: 'week' },
        { text: 'Equipement', parameter: 'equipment__nomenclature' },
        { text: 'Loc. fonctionnelle', parameter: 'equipment__functlocation' },
        { text: 'Réalisé par', parameter: 'personorderd' }
    ];

     const ordersTableHead = $('#OrdersTable thead');
     ordersTableHead.empty();

     const headerRow = $('<tr>');
    headers.forEach(header => {
        const th = $('<th>');
        const headerLink = $('<a>')
            .attr('href', '#')
            .data('sort', header.parameter)
            .text(header.text)
            .css('text-decoration', 'none')  
            .css('color', 'black')  
            .click(function() {
              
            if (currentSortColumn === header.parameter) {
                ascendingOrder = !ascendingOrder; 
            } else {
              currentSortColumn = header.parameter;
                ascendingOrder = true;
            }


          
            fetchAndPopulateOrders(currentPage,filters, headerLink.data('sort'), ascendingOrder);
       


            
            });

        th.append(headerLink);
        headerRow.append(th);
    });

    ordersTableHead.append(headerRow);

    fetchAndPopulateOrders(1, filters , sortingParameter, ascendingOrder);
  }




  function fetchAndPopulateOrders(pageNumber, filters = {},sortingParameter, ascendingOrder) {
    $.ajax({
      url: '/orders_load/',
      type: 'GET',
      data: { page: pageNumber, ...filters , sort: sortingParameter, sortorder: ascendingOrder ? 'asc' : 'desc' },
      dataType: 'json',
      success: function(response) {
        orders = response.orders; 
        totalPages=response.total_pages;
        
        updatePaginationControls(pageNumber,totalPages)


        const orderstableBody = $('#OrdersTable tbody');
        orderstableBody.empty(); 

        
      if (orders.length === 0) {
        const noOrdersRow = $('<tr>');
        const noOrdersCell = $('<td>')
          .attr('colspan', '6')
          .css('text-align', 'center')
          .css('font-style', 'italic')
          .text('Pas de consigne disponible');
        noOrdersRow.append(noOrdersCell);
        orderstableBody.append(noOrdersRow);
      } else {

        $.each(orders, function(index, order) {
          const row = $('<tr>');
  
              row.append($('<td>').text(order.orderref));
              row.append($('<td>').text(order.week).css('text-align', 'center'));
              row.append($('<td>').text(order.equipment.nomenclature));
              row.append($('<td>').text(order.equipment.functlocation));
              const executor = order.status ? order.personorderd : 'Non réalisé';
              row.append($('<td>').text(executor));
 
                       
              const exportButton = $('<button>')
                .attr('type', 'button')
                .addClass(order.status ? 'btn btn-outline-success btn-sm' : 'btn btn-secondary btn-sm')
                .prop('disabled', !order.status)
                .click(function() {
                  downloadPdf(order.id);


    
                })
                .html('<svg xmlns="http://www.w3.org/2000/svg" width=10px height=10px fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 15 15"> <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/> <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/> </svg> ');
    



              const editButton = $('<button>')
                .attr('type', 'button')
                .addClass('btn btn-outline-primary btn-sm')
                .click(function() {
    
                })
                .html('<svg xmlns="http://www.w3.org/2000/svg" width=10px height=10px fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 15 15"> <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/> </svg> ');
    
              const deleteButton = $('<button>')
                .attr('type', 'button')
                .addClass('btn btn-outline-danger btn-sm')
                .click(function() {
    
                })
                .html('<svg xmlns="http://www.w3.org/2000/svg" width=10px height=10px fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 15 15"> <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"></path> </svg> ');
    
                editButton.css('margin-left', '3px');
                deleteButton.css('margin-left', '3px');
    
              const lastColumn = $('<td>')
                .css('width', '100px') 
                .append(exportButton,editButton, deleteButton);
    
              row.append(lastColumn);
    
              orderstableBody.append(row);
        });



      }


      },
      error: function(xhr, errmsg, err) {
        console.log(errmsg);
      }
    });
  }


  function updatePaginationControls(current_page, total_pages) {
    
    const paginationControls = $('#pagination-controls');
    paginationControls.empty();

    
    
    if (total_pages === 1) {
      paginationControls.hide();
    } else {
      paginationControls.empty();
      paginationControls.show(); 
	  
    }
 


    



    const ul = $('<ul>').addClass('pagination');
    const prevClass = current_page === 1 ? 'disabled' : '';
    const nextClass = current_page === total_pages ? 'disabled' : '';
  
    const prevLink = $('<a>')
      .addClass('page-link')
      .attr('href', `?page=${current_page - 1}`)
      .text('<<');
  
    const prevItem = $('<li>')
      .addClass(`page-item ${prevClass}`)
      .append(prevLink);
  
    ul.append(prevItem);
  
    if (total_pages <= 7) {
      for (let page = 1; page <= total_pages; page++) {
        ul.append(createPageItem(page, current_page));
      }
    } else if (current_page - 2 <= 2) {
      for (let page = 1; page <= 6; page++) {
        ul.append(createPageItem(page, current_page));
      }
      ul.append(createEllipsisItem());
      ul.append(createPageItem(total_pages, current_page));
    } else if (current_page + 2 >= total_pages) {
      ul.append(createPageItem(1, current_page));
      ul.append(createEllipsisItem());
      for (let page = total_pages - 5; page <= total_pages; page++) {
        ul.append(createPageItem(page, current_page));
      }
    } else {
      ul.append(createPageItem(1, current_page));
      ul.append(createEllipsisItem());
      for (let page = current_page - 2; page <= current_page + 2; page++) {
        ul.append(createPageItem(page, current_page));
      }
      ul.append(createEllipsisItem());
      ul.append(createPageItem(total_pages, current_page));
    }
  
    const nextLink = $('<a>')
      .addClass('page-link')
      .attr('href', `?page=${current_page + 1}`)
      .text('>>');
  
    const nextItem = $('<li>')
      .addClass(`page-item ${nextClass}`)
      .append(nextLink);
  
    ul.append(nextItem);
  
    paginationControls.append(ul);
  }
  


  function createPageItem(page, current_page) {
    const pageLink = $('<a>')
      .addClass('page-link')
      .attr('href', `?page=${page}`)
      .text(page);
  
    return $('<li>')
      .addClass(`page-item ${current_page === page ? 'active' : ''}`)
      .append(pageLink);
  }



  function createEllipsisItem() {
    return $('<li>')
      .addClass('page-item disabled')
      .text('..');
  }
  

  $(document).ready(function() {
    updateTable('week');
  });


  
  $(document).on('click', '.pagination a', function(e) {
    e.preventDefault();
    const currentPage = parseInt($(this).attr('href').split('=')[1]);
    fetchAndPopulateOrders(currentPage,filters,currentSortColumn,ascendingOrder);
  });



  window.addEventListener('filterDataChanged', function(event) {
    const { inventorynr, nomenclature, functlocation, week, orderref, grouporderd ,checkboxorderinprocess,checkboxorderincomp} = event.detail;

    filters = {
      inventorynr: inventorynr,
      nomenclature: nomenclature,
      functlocation: functlocation,
      week: week,
      orderref: orderref,
      grouporderd: grouporderd,
      checkboxorderinprocess: checkboxorderinprocess,
      checkboxorderincomp: checkboxorderincomp

    };
    fetchAndPopulateOrders(1, filters,'week','asc');

  });

 
</script>





</html>
