<style>
  .filterwrapper {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: right;
    flex-wrap: wrap;
  }

  .form-control {
    width: 400px;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
  }

  .button-wrapper button {
    margin: 2px;
  }

  .offcanvas {
    --bs-offcanvas-height: var(--filterwrapper-height);
  }



</style>


<div class="offcanvas offcanvas-top" tabindex="-1" id="forder" aria-labelledby="forder">
  <div class="offcanvas-body">
    <div class="filterwrapper">
      <div class="form-group">
        <label class="col-form-label" for="inventorynr">Ref. d'équipement :</label>
        <input type="text" class="form-control" placeholder="Ref. d'équipement" id="inventorynr">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="nomenclature">Équipement :</label>
        <input type="text" class="form-control" placeholder="Équipement" id="nomenclature">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="functlocation">Loc. fonctionnelle :</label>
        <input type="text" class="form-control" placeholder="Loc. fonctionnelle" id="functlocation">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="week">Semaine :</label>
        <input type="text" class="form-control" placeholder="Semaine" id="week" pattern="[0-9]{2}" maxlength="2" size="2" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="orderref">Ref. d'ordre :</label>
        <input type="text" class="form-control" placeholder="Émetteur" id="orderref">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="grouporderd">Projet :</label>
        <input type="text" class="form-control" placeholder="Projet" id="grouporderd">
      </div>






    </div>

    <div class="text-center" style="margin-top: 15px;">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="orderInProcess" checked>
        <label class="form-check-label" for="orderInProcess">
          Non accomplie
        </label>
      </div>
    
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="" id="orderCompl" checked>
        <label class="form-check-label" for="orderCompl">
          Réalisée
        </label>
      </div>
    </div>
    
    

    <div class="button-wrapper" style="margin-top: 5px;">
      <button type="button" class="btn btn-primary custom-button" data-bs-dismiss="offcanvas" onclick="captureFilterData()">Appliquer</button>
      <button type="button" class="btn btn-secondary custom-button" onclick="resetFilter()">Réinitialiser</button>
    </div>
  </div>
</div>

<script>
  const filterWrapper = document.querySelector('.filterwrapper');
  const offcanvas = document.getElementById('forder');

  function adjustOffcanvasHeight() {
    const filterWrapperHeight = filterWrapper.offsetHeight + 120;
    offcanvas.style.setProperty('--bs-offcanvas-height', `${filterWrapperHeight}px`);
  }

  window.addEventListener('resize', adjustOffcanvasHeight);
  window.addEventListener('load', adjustOffcanvasHeight);

  
  document.getElementById('week').addEventListener('input', function() {
    const semaineValue = parseInt(this.value);
    if (semaineValue > 52) {
      this.value = '52';
    }
  });



  function captureFilterData() {
    const inventorynr = document.getElementById('inventorynr').value;
    const nomenclature = document.getElementById('nomenclature').value;
    const functlocation = document.getElementById('functlocation').value;
    const week = document.getElementById('week').value;
    const orderref = document.getElementById('orderref').value;
    const grouporderd = document.getElementById('grouporderd').value;

    
    const checkboxorderinprocess = document.getElementById('orderInProcess').checked;
    const checkboxorderincomp = document.getElementById('orderCompl').checked;


    const filterDataEvent = new CustomEvent('filterDataChanged', { detail: { inventorynr, nomenclature, functlocation, week, orderref, grouporderd ,checkboxorderinprocess,checkboxorderincomp} });
    



    window.dispatchEvent(filterDataEvent);
  }

  function resetFilter() {
    document.getElementById('inventorynr').value = '';
    document.getElementById('nomenclature').value = '';
    document.getElementById('functlocation').value = '';
    document.getElementById('week').value = '';
    document.getElementById('orderref').value = '';
    document.getElementById('grouporderd').value = '';

    const inventorynr = document.getElementById('inventorynr').value;
    const nomenclature = document.getElementById('nomenclature').value;
    const functlocation = document.getElementById('functlocation').value;
    const week = document.getElementById('week').value;
    const orderref = document.getElementById('orderref').value;
    const grouporderd = document.getElementById('grouporderd').value;
    const filterDataEvent = new CustomEvent('filterDataChanged', { detail: { inventorynr, nomenclature, functlocation, week, orderref, grouporderd } });
    window.dispatchEvent(filterDataEvent);
  }
</script>



