{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Maintenance Management</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <style>
      .button-wrapper {
          display: flex;
          justify-content: center;
      }
      
      .button-wrapper button {
          margin: 2px; 
      }

      .form-control {
        width: 600px; /* Adjust the width as per your requirement */
      }
      
      .form-select {
        width: 600px; /* Adjust the width as per your requirement */
      }
      
      .subcard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px; 
    }
  </style>
</head>

<body style="background-color: #C2DEDC;">
    <div class="mainwrapper">
        <div class="grid-container">
          <div class="navwrapper">
            <div class="column">
              {% include 'apgmp/navbar.html' %}
            </div>
          </div>
        <div class="pagewrapper">
            <div class="column">
              <form method="post" action="{% url 'user_update' username=username %}">
                {% csrf_token %}
                  <div class="card border-dark mt-2 ms-2 me-2 mb-4">
                      <div class="card-header">Editer le profil :</div>
                      <div class="subcard">
                          <div class="form-group">
                              <label for="lname" class="form-label mt-4">Nom :</label>
                              <input type="text" class="form-control" id="lname" name="lname">
                          </div>
                          <div class="form-group">
                              <label for="fname" class="form-label mt-4">Prénom :</label>
                              <input type="text" class="form-control" id="fname" name="fname">
                          </div>

                          <div class="form-group">
                              <label for="role" class="form-label mt-4">Rôle :</label>
                              <div class="col-sm-10">
                                  <select class="form-select" id="role" name="role">
                                      <option>Technicien</option>
                                      <option>Organisateur</option>
                                  </select>
                              </div>
                          </div>

                          <div class="form-group">
                              <label for="group" class="form-label mt-4">Groupe :</label>
                              <div class="col-sm-10">
                                  <select class="form-select" id="group" name="group">
                                      <option value="">Sélectionner un groupe</option>
                                  </select>
                              </div>
                          </div>


                          <div class="form-group">
                              <label for="password" class="form-label mt-4">Mot de passe</label>
                              <input type="text" class="form-control" id="password" name="password">
                          </div>
 


                      </div>
                  </div>
                  <div class="button-wrapper">
                    <button type="submit" class="btn btn-primary" id="submitButton">Soumettre</button>
                    <button type="button" class="btn btn-secondary" id="cancelButton">Annuler</button>
                </div>
              </form>


        </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

         function loadGroups() {
            return $.ajax({
                url: '/group_load/',  
                type: 'GET',
                dataType: 'json',
            });
        }

         function fetchAndPopulate(regNum) {
            return $.ajax({
                url: '/user_load/',  
                type: 'GET',
                data: {
                    regNum: regNum,
                },
                dataType: 'json',
            });
        }

         loadGroups()
        .then(function(response) {
            const groups = response.groups;
            const selectElement = $('#group');
            for (const group of groups) {
                const option = `<option value="${group.id}">${group.groupid}</option>`;
                selectElement.append(option);
            }

            const path = window.location.pathname;
            const pathParts = path.split('/').filter(part => part !== '');
            const regNum = pathParts[1];  

            return fetchAndPopulate(regNum);
        })
        .then(function(response) {
            user = response.user;

             $('#lname').val(user.fname);
            $('#fname').val(user.lname);
            $('#role').val(user.is_issuer ? 'Organisateur' : 'Technicien');
            $('#group').val(user.group);
            $('#password').val('');

             function updateGroupVisibility() {
                const roleSelect = $('#role');
                const groupeSelect = $('#group');
                const selectedRole = roleSelect.val();

                if (selectedRole === "Organisateur") {
                    groupeSelect.closest('.form-group').hide(); 
                } else {
                    groupeSelect.closest('.form-group').show(); 
                }
            }

            updateGroupVisibility();

             $('#role').on('change', function() {
                updateGroupVisibility();
            });

             $('#submitButton').click(function() {
                $('form').submit();
            });

             $('#cancelButton').click(function() {
                window.location.href = "{% url 'index' %}";
            });

        })
        .fail(function (xhr, status, error) {
            console.error('Error:', status, error);
        });
    });
</script>

  

</html>
