.grid-container {
    display: grid;
    grid-template-columns: 148px calc(100% - 148px);
    grid-template-areas: "navbar cards";
}

.navwrapper {
    grid-area: navbar;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
    min-width: 148px;
}

.mainwrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
}

.pagewrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
}